# SPDX-License-Identifier: GPL-2.0
#
# USB device configuration
#

if USB_SUPPORT

if USB

source "google-modules/soc/gs/drivers/usb/host/Kconfig"

endif

source "google-modules/soc/gs/drivers/usb/dwc3/Kconfig"

source "google-modules/soc/gs/drivers/usb/gadget/Kconfig"

source "google-modules/soc/gs/drivers/usb/typec/Kconfig"

endif # USB_SUPPORT
