name: Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  MODULE_NAME: 'mountify'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 2

    - name: Build webui
      run: |
        cd webui
        npm ci
        npm run build

    - name: Set variables
      run: |
        VERSION=$(jq -r .version update.json)
        COMMIT_ID=$(git rev-parse --short HEAD)
        echo "ZIP_NAME=${{ env.MODULE_NAME }}_${VERSION}-${COMMIT_ID}" >> $GITHUB_ENV

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ZIP_NAME }}
        path: 'module'
