name: Bazel Sanity

on:
  workflow_dispatch:
  pull_request:

jobs:
  bazel-sanity:
    name: Bazel sanity
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: false
      - name: Run Bazel info
        run: ./tools/bazel info workspace
